<h2>Adicionar Produto</h2>

<form method="post">
    <div class="form-group">
        <label for="txtName">Nome:</label>
        <input class="form-control" type="text" name="name" id="txtName" value="@Model.Name" autofocus />
    </div>
    <div class="form-group">
        <label for="txtPrice">Preço:</label>
        <input class="form-control" type="text" name="price" id="txtPrice" value="@Model.Price" />
    </div>
    <div class="form-group">
        <label for="txtType">Tipo:</label>
        <input class="form-control "type="text" name="type" id="txtType" value="@Model.Type" />
    </div>
    <div class="form-group">
        <label for="txtQuant">Quantidade:</label>
        <input class="form-control" type="text" name="quantity" id="txtQuant" value="@Model.Quantity" />
    </div>
    <div class="form-group">
        <label for="txtDate">Data de Cadastro:</label>
        <input class="form-control" type="text" name="dateentry" id="txtDate" value="@Model.DateEntry" />
    </div>

    @*<input type="submit" value="Salvar"/>*@
    <div class="form-group p-3">
        <button class="btn btn-outline-success" type="submit">Salvar</button>
        <a class="btn btn-outline-danger m-2" href="~/Products">Cancelar</a>
    </div>
</form>