@*@model List<HVC.Store.UI.Models.Product>*@
@using HVC.Store.UI.ViewModels.Products.Index

@{ViewBag.Title = "Listagem de Produtos";}

<h2>@ViewBag.Title</h2>

@*<h2> Listagem de Produtos</h2>*@

<div class="mb-3 mt-3">
    <a class="btn btn-outline-info" href="@Url.Action("AddEdit")">Novo Produto</a>
</div>

<table class="table table-striped table-hover table-responsive p-3">
    <tr>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quant.</th>
            <th>Tipo</th>
            <th>Data Cadastro</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (ProductIndexVM prod in Model) {
            <tr id="prod-@prod.Id">
                <td>@prod.Name</td>
                <td style="text-align: right">@prod.Price.ToString("F2")</td>
                <td style="text-align: center">@prod.Quantity</td>
                <td>@prod.ProdType</td>
                <td style="text-align: center">@prod.DateEntry.ToString("dd/MM/yyyy")</td>
                <td>
                    @*class="btn-group">*@
                    <a class="btn btn-sm btn-outline-warning" href="@Url.Action("AddEdit", new {id=prod.Id})"><i class="fas fa-edit"></i> Editar</a>
                    <button class="btn btn-sm btn-outline-danger" onclick="DelProd(@prod.Id, '@prod.Name')"><i class="fas fa-trash"></i> Excluir</button>
                </td>
            </tr>
        }
    </tbody>

</table>

<div data-id="0" class="modal" id="delModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Produto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Confirma a exclusão do produto <strong><span id="prodModal"></span></strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button onclick="ConfirmDelProd()" type="button" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function DelProd(id, name) {
        //alert('Sem chance!')
        //var response = confirm('Deseja excluir o produto ' + name + '?')

        //    let response = confirm(`Deseja excluir o produto ${name}?`)
        //    //console.log(response)
        //    if (response) {
        //        //console.log(`Id ${id}`)
        //        ConfirmDelProd(id)
        //    }
        $('#prodModal').text(name)
        $('#delModal').data('id', id).modal('show')
    }


    function ConfirmDelProd() {
        let id = $('#delModal').data('id');

        //XMLHttpRequest
        let xhr = new XMLHttpRequest();
        const url = `/Products/DelProd/${id}`

        xhr.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 404) {
                $('#delModal').data('id', '0').modal('hide')
                toastr.error('Produto não encontrado!', 'HVC Store')
                //alert('Produto não encontrado!')
            }
            if (this.readyState === 4 && this.status === 200) {
                let tr = document.querySelector(`#prod-${id}`)
                if (tr != null) {
                    tr.remove()
                }
                $('#delModal').data('id', '0').modal('hide')
                toastr.success('Produto excluído!', 'HVC Store')
                //alert('Produto excluído!')
            }
        }

        xhr.open('get', url)
        xhr.send()
    }
</script>
