@*@model List<HVC.Store.UI.Models.Product>*@

<h2> Listagem de Produtos</h2>

<div>
    <a href="~/Products/Add">Novo Produto</a>
</div>

<table>
    <tr>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quant.</th>
            <th>Tipo</th>
            <th>Data Cadastro</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var prod in Model) {
            <tr>
                <td>@prod.Name</td>
                <td>@prod.Price</td>
                <td>@prod.Quantity</td>
                <td>@prod.Type</td>
                <td>@prod.DateEntry</td>
            </tr>
        }
    </tbody>

</table>
